/.bundle
.idea/*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

public/static/*
public/system/*
public/uploads/*
public/test/*
public/images/*

db/schema.rb

/config/credentials/production.key
/config/credentials/staging.key
/config/credentials/development.key
/config/credentials/test.key
/ssh-keys/*
