.flashes {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  .flash {
    position: relative !important;
    heigth: 150px !important;
    padding: 30px !important;
    color: #efefef !important;
    top: auto !important;
    transition-duration: 1s !important;
    background-image: none !important;
    border-radius: 4px;
    a {
      color: white;
      text-decoration: underline !important;
    }
  }
  .flash_alert {
    background-color: #e42525 !important;
  }
}
